* {
    box-sizing: border-box;
}

h1 {
    background: yellow;
    display: inline;
}

p {
    display: inline;
    background: pink;
}

span {
    display: none;
    background: yellow;
    width: 200px;
    height: 100px;
}