* {
    box-sizing: border-box;
}

body {
    font-size: 2.5em;
}

[class^="box-"] {
    background: yellow;
    padding: 50px;
    width: 50%;
}

.box-1 {
    margin-bottom: 50px;
}

.box-2 {
    margin-top: -50px;
}

.container {
    width: 600px;
    background-color: lime;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
}

.item {
    margin-right: -20px;
    margin-left: -20px;
    border: 2px solid red;
}