body {
    font-size: 2.5em;
}

h1 {
    text-align: center;
    /*
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: dashed;
    */
    text-decoration: underline overline;
    text-decoration-color: #ccc;
}