* {
    box-sizing: border-box;
}

body {
    font-size: 2.5em;
    margin: 0;
}


/*
.article {
    background-color: yellow;
    padding-top: 0.1px;
}*/

[class^="article"] {
    background-color: yellow;
    margin-bottom: 50px;
}